.navbar-container {
    margin-top: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.navbar-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.navbar-container ul {
    display: flex;
    width: 100%;
    height: 100%;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.navbar-container ul li {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-container ul li .navbar-text {
    font-family: var(--font-family);
    font-size: 1.3rem;

}

.navbar-container ul li:hover {
    background-color: rgb(204, 204, 204);
}

.navbar-content .products {
    position: relative;
}

/* Dropdown Content */
.dropdown-box {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dropdown-content {
    display: block;
    background-color: #fff;
}

.dropdown-content p {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px 5px;
    font-size: 1.3rem;
    font-family: var(--font-family);
}

.dropdown-content p:hover {
    color: red;
}

.navbar-content .products:hover .dropdown-box {
    display: block;
}