


.footer-content{
    width: 100%;
    display: flex;
    background-color: var(--bg-color);
}

.footer-address{
    align-self: center;
    justify-content: center;
    color: var(--font-color);
    font-family: var(--font-family);
    width: 45%;
    font-size: 0.9em;
    margin-left: 10px;
}

.footer-logo{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.logo-image{
    height: 8vh;
    object-fit: cover;
}