.search-container{
    height: var(--page-content-height);
}

/* Search Content */

.search-content-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.search-parameter ul {
    list-style-type: none;
}

.title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.title span {
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: red;
}

.search-parameter {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60%;
}

.search-parameter ul li {
    width: 100%;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.search-parameter ul li select {
    width: 150px;
    height: 25px;
    border-radius: 5px;
}

.search-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.search-button button {
    padding: 3px 40px;
    font-size: 0.8em;
    cursor: pointer;

}