.diamond-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

h1 {
    color: red;
    margin-top: 10px;
}

.diamond-container .create {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.diamond-container .create .createDiamond {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin-top: -40px;
    margin-right: 15px;
}

.diamond-container .create img {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.diamond-container .create h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-stretch: expanded;
}

/* Product Details */

.diamond-info-container {

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.diamond-info-container .diamond-card {
    display: block;
    width: 600px;
    height: 150px;
    border: 2px solid lightgray;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 5px;
    font-stretch: expanded;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.45);
}

.diamond-info-container .diamond-card .ID {
    font-size: 20px;
    display: flex;
    font-size: larger;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    color: red;
    margin-bottom: 7px;
    font-stretch: expanded;

}

.diamond-info-container .diamond-card .text {
    font-size: 20px;
    display: flex;
    font-size: larger;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    color: rgba(60, 6, 197, 0.903);
    margin-left: -3px;
    margin-bottom: 7px;
    font-stretch: expanded;

}

.diamond-info-container .diamond-card .CutData,
.ColorData,
.ClarityData {
    display: flex;
    font-size: large;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 7px;
    font-stretch: expanded;
}

.diamond-info-container .CutData p,
.diamond-info-container .ColorData p,
.diamond-info-container .ClarityData p {
    margin-left: 7px;
}

/* ViewDetail Button */
.diamond-card .diamondInfo {
    padding: 10px 50px;
    display: flex;
    font-family: var(--font-family);
    text-decoration: none;
    font-weight: bold;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    margin-top: -80px;

}

.diamondInfo {
    display: flex;
    font-stretch: expanded;
    font-family: var(--font-family);
    background-color: black;
    width: 1.2em;
    border: 1px black solid;
    border-radius: 4px;
}

.action-Delete .Delete {
    display: flex;
    font-stretch: expanded;
    font-family: var(--font-family);
    background-color: white;
    width: 1.2em;
    border: 1px black solid;
    border-radius: 4px;
}



.diamond-card .diamondInfo:hover {
    color: red;
    background-color: rgba(0, 106, 255, 0.934)
}

.diamond-card .action-Delete .Delete:hover {
    color: red;
    background-color: rgba(0, 106, 255, 0.934)
}

.diamond-card .action-Delete .Delete {
    padding: 12px 60px 20px 60px;
    display: flex;
    padding-top: 15px;
    font-stretch: expanded;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: 140px;
    margin-top: -58px;
}

/* Create Diamond */
.create-validation-color {
    margin-right: 320px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-cut {
    margin-right: 334px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-caratWeight,
.create-validation-price,
.create-validation-accountId,
.create-validation-quantity,
.create-validation-imageDiamond {
    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-accountId {

    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-certificateNumber {
    margin-right: 170px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-statusDiamond {
    margin-right: 84px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-clarity {
    margin-right: 312px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

.create-validation-origin {
    margin-right: 316px;
    font-size: medium;
    color: red;
    font-weight: bold;
}

/* Diamond Sidebar Menu */
.DiamondSidebarMenu {
    display: inline-flex;
    padding-top: 50px;
    width: 200px;
    border-right: 1px solid lightgray;
}

.Diamond-vertical-line {
    border: none;
    border-right: 1px solid lightgrey;
    height: 100vh;
    margin-right: 20px;
}

/* pagination */


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.page-link:hover {
    background-color: #f5f5f5;
}

.page-link:focus {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}