.diamond-infodetails-container {
    font-family: Arial, sans-serif;
    background-color: white;
    border: 1px hidden lightgray;
    padding: 20px;
    width: 600px;
    height: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 100px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: red;
    margin-bottom: 20px;
    text-align: center;
}

.diamond-infodetails-container .text {
    font-weight: bold;
    font-size: larger;
}

.diamond-infodetails-container .text span {
    margin-right: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.diamond-infodetails-container .text p {
    margin: 0;
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 16;
}

.diamond-infodetails-container .OriginDetails,
.diamond-infodetails-container .ClarityDetails,
.diamond-infodetails-container .CutDetails,
.diamond-infodetails-container .CaratWeightDetails,
.diamond-infodetails-container .ColorDetails,
.diamond-infodetails-container .CertificateNumberDetails,
.diamond-infodetails-container .QuantityDetails,
.diamond-infodetails-container .PriceDetails,
.text {
    display: flex;
    align-items: center;
    font-size: medium;
    margin-bottom: 20px;
    margin-left: 20px;
}

.diamond-infodetails-container .OriginDetails span,
.diamond-infodetails-container .ClarityDetails span,
.diamond-infodetails-container .CutDetails span,
.diamond-infodetails-container .CaratWeightDetails span,
.diamond-infodetails-container .ColorDetails span,
.diamond-infodetails-container .CertificateNumberDetails span,
.diamond-infodetails-container .QuantityDetails span,
.diamond-infodetails-container .PriceDetails span {
    margin-right: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.diamond-infodetails-container .OriginDetails p,
.diamond-infodetails-container .ClarityDetails p,
.diamond-infodetails-container .CutDetails p,
.diamond-infodetails-container .CaratWeightDetails p,
.diamond-infodetails-container .ColorDetails p,
.diamond-infodetails-container .CertificateNumberDetails p,
.diamond-infodetails-container .QuantityDetails p,
.diamond-infodetails-container .PriceDetails p {
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 16;
}

.ImageDiamondDetails {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: -480px;
    margin-bottom: 20px;
    margin-left: 100px;
    transition: all 0.3s ease;
}

.ImageDiamondDetails img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 500px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.45);
    transition: all 0.2s ease;

    /* Add shadow effect */
}

.diamond-infodetails-container .CaratWeightDetails p {
    margin-left: -60px;
}

.diamond-infodetails-container .CertificateNumberDetails p {
    margin-left: -120px;
}


.diamond-infodetails-container .QuantityDetails p {
    margin-left: -20px;
}

.diamond-infodetails-container .CutDetails span {

    margin-left: -10px;
}

.DiamondUpdate {
    display: block;
    background-color: rgba(128, 128, 128, 0.811);
    width: 2.4em;
    border-radius: 20px;
}

.diamond-infodetails-container.DiamondUpdate :hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

.diamond-infodetails-container .DiamondUpdate {
    padding: 10px 50px;

    display: flex;

    text-decoration: none;
    font-weight: bold;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    margin-left: auto;

    margin-right: 180px;
    margin-top: 20px;
}

/* Update Diamond */

.update-Diamond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.update-Diamond .sub-update-Diamond .imgDiamond,
.CertificateNumber,
.Origin,
.Quantity,
.Price,
.Clarity,
.CaratWeight,
.Cut,
.Color,
.statusDiamond,
.accountId {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    margin-left: 80px;
    justify-content: center;
    /* Adjusted to align to the left */
}


.sub-update-Diamond .CertificateNumber label,
.sub-update-Diamond .Origin label,
.sub-update-Diamond .Quantity label,
.sub-update-Diamond .Price label,
.sub-update-Diamond .Clarity label,
.sub-update-Diamond .CaratWeight label,
.sub-update-Diamond .Cut label,
.sub-update-Diamond .imgDiamond label,
.sub-update-Diamond .Color label,
.sub-update-Diamond .statusDiamond label,
.sub-update-Diamond .accountId label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to align to the left */
    margin-right: 30px;
    flex: 2;

}


.sub-update-Diamond .CertificateNumber input,
.sub-update-Diamond .Origin input,

.sub-update-Diamond .Clarity input,
.sub-update-Diamond .CaratWeight input,
.sub-update-Diamond .Cut input,
.sub-update-Diamond .Color input,
.sub-update-Diamond .Quantity input,
.sub-update-Diamond .Price input,
.sub-update-Diamond .imgDiamond input,
.sub-update-Diamond .statusDiamond input,
.sub-update-Diamond .accountId input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex: 1;
    margin-right: 10px;
    padding: 5px;
}


.update-Diamond button {
    margin-top: 10px;
    display: block;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(35, 35, 236, 0.8);
    color: white;
    font-weight: 500;
    border-style: none;
    width: 60px;
    margin-left: 200px;
}

button:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934);
}