.order-detail-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Title */

.order-detail-content-container .title {
    font-size: 3em;
    color: red;
    font-family: var(--font-family);
    text-align: center;
    padding: 30px 0px;
}

/* Order Information */

.order-detail-content-container .order-detail-information {
    display: flex;
    justify-content: center;

}

.order-detail-content-container .order-detail-information .detail-information-container {
    text-align: left;
    width: 65%;
    border: 1px solid black;
    padding: 30px 20px;
}

.order-detail-content-container .order-detail-information .detail-information-container p {
    font-size: 2.2em;
    font-family: var(--font-family);
    padding: 15px;
}

/* Product List */

.order-detail-content-container .order-product-list {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.order-detail-content-container .order-product-list ul {
    list-style-type: none;
    width: 67%;
}

.order-detail-content-container .order-product-list ul li {
    display: flex;
    margin: 50px 0px;
    padding: 10px 0px;
    border: 1px solid black;

}

.order-detail-content-container .order-product-list ul li img {
    object-fit: cover;
    text-align: left;
    width: 100px;
    height: 100px;
    padding: 10px 20px;
}

.order-detail-content-container .order-product-list ul li .product-information {
    width: 85%;
}

.order-detail-content-container .order-product-list ul li .product-information p {
    font-size: 1.8em;
    padding: 3px;
}

/* Status and Button */

.order-detail-content-container .status-and-button {
    display: flex;
    padding-bottom: 70px;
    justify-content: center;
    gap: 900px;
}

.order-detail-content-container .status-and-button span {
    font-size: 2em;
    font-family: var(--font-family);
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.order-detail-content-container .status-and-button button {
    background-color: black;
    color: red;
    font-size: 1.7em;
    font-family: var(--font-family);
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}