.PendingAssigned-container {
    display: inline;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}

.Pendingcontainer {
    display: inline-flex;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}

.vertical-line {
    border: none;
    border-right: 1px solid #000;
    height: 100vh;
    margin-right: 20px;
}


.url_Status {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.url_Status a {
    text-decoration: none;
    padding: 8px 16px;
}

.Pending,
.All {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.All {
    margin-left: 2px;
}


table {
    display: table;
    width: 500px;
    margin-top: 30px;
    margin-left: 400px;
}

th,
td,
thead {
    padding: 0 30px 0 30px;
    border: 1px solid black;
    text-align: center;

}

td {

    padding: 20px;
}

th {

    padding: 0 40px 0 40px;
}

.Username,
.OrderCount,
.OrderID,
.OrderCount,
.Role {
    width: 50px;
}

.ID {
    color: red;
    font-weight: bold;
}

.OrderID {
    font-weight: bold;
}


.check_Attendence {
    margin-top: 20px;
    margin-left: 20px;
}

.CheckApp {
    margin-top: 20px;
    margin-left: 28px;
}

.PendingAssigned {
    padding: 20px;
    display: block;
    color: white;
    border-radius: 20px;
    background-color: rgba(142, 136, 136, 0.4);
    font-size: larger;
    width: fit-content;
    border-style: none;
    margin-top: -700px;
    margin-left: 1000px;
    /* Ensures the button stays above other elements */
}

.Pendingwarning {
    color: rgb(93, 0, 255);
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
    margin-left: 700px;
}

.PendingAssigned-container .Assigned:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934);
}

/*  */

.ConfirmAssigned-container {
    display: inline;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}

.ConfirmAssigned-container .Assigned {
    padding: 20px;
    color: white;
    background-color: rgba(142, 136, 136, 0.4);
    font-size: larger;
    width: fit-content;
    margin-top: -700px;
    position: relative;
    margin-left: 860px;
    top: 40px;
}

.ConfirmAssigned-container .Assigned:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934);
}

.Confirmwarning {
    color: rgb(93, 0, 255);
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
    margin-left: 700px;
}

.Confirmcontainer {
    display: inline-flex;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}

.vertical-line {
    border: none;
    border-right: 1px solid #000;
    height: 100vh;
    margin-right: 20px;
}



.url_Status {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.url_Status a {
    text-decoration: none;
    padding: 8px 16px;
}

.Confirm,
.All {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.All {
    margin-left: 2px;
}

.ConfirmAssigned {
    padding: 20px;
    display: block;
    color: white;
    border-radius: 20px;
    background-color: rgba(142, 136, 136, 0.4);
    font-size: larger;
    width: fit-content;
    border-style: none;
    margin-top: -700px;
    margin-left: 1000px;
    /* Ensures the button stays above other elements */
}

/*  */


.DeliveringAssigned-container {
    display: inline;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}


.Deliveringcontainer {
    display: inline-flex;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}

.vertical-line {
    border: none;
    border-right: 1px solid #000;
    height: 100vh;
    margin-right: 20px;
}

.Status,
.assigned {
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 20px;
}

.url_Status {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.url_Status a {
    text-decoration: none;
    padding: 8px 16px;
}

.Delivering,
.All,
.Sale,
.SaleStaff,
.DeliveryStaff {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.DeliveryStaff {
    margin-top: -20px;
}

.All {
    margin-left: 2px;
}

.Delivering_table {

    width: 500px;
    margin-top: -600px;
    margin-left: 400px;
}

.AllStaff_table {
    width: 500px;
    margin-top: -600px;
    margin-left: 400px;
}

.DeliveryDate,
.DeliveryTime,
.DateofReceiptOrders,
.TimeofReceiptOrders {
    width: 50px;
}


/*  */

.DeliveredAssigned-container {
    display: inline;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}


.Deliveredcontainer {
    display: inline-flex;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid #000;
}

.vertical-line {
    border: none;
    border-right: 1px solid #000;
    height: 100vh;
    margin-right: 20px;
}

.Status,
.assigned {
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin-left: 15px;
    margin-bottom: 20px;
}

.url_Status {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.url_Status a {
    text-decoration: none;
    padding: 8px 16px;
}

.Delivered,
.All,
.Sale,
.AllStaff,
.SaleStaff,
.DeliveryStaff {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.AllStaff:hover,
.SaleStaff:hover,
.DeliveryStaff:hover {
    color: red;
}

.DeliveryStaff {
    margin-top: -20px;
}

.AllStaff {
    margin-bottom: 10px;
}

.All {
    margin-left: 2px;
}

.Delivered_table {

    width: 500px;
    margin-top: -600px;
    margin-left: 400px;
}

.DateofReceiptGoods,
.TimeofReceiptGoods {
    width: 50px;
}