.PendingAssigned-container {
    display: inline;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid lightgray;
}

.Pendingwarning {
    color: red;
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
    margin-left: 360px;
}

.Pendingcontainer {
    display: inline-flex;
    padding-top: 50px;
    border-right: 1px solid lightgray;
}

.vertical-line {
    border: none;
    border-right: 1px solid lightgray;
    height: 100vh;
    margin-right: 20px;
}


.Pending,
.All {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.All {
    margin-left: 2px;
}

.ReactTable {
    width: 100%;
    max-width: 800px;
    margin-left: 350px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

.ReactTable thead {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f5f5f5;
}

.ReactTable th,
.ReactTable td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.ReactTable th {
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
}

.ReactTable th::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top: 5px solid #bbb;
}

.ReactTable th.sort-asc::after {
    border-top: none;
    border-bottom: 5px solid #bbb;
}

.ReactTable th.sort-desc::after {
    border-top: 5px solid #bbb;
}

.ReactTable tr:hover {
    background-color: #f1f1f1;
}

.CheckApp {
    margin: 5px 0 0 50px;
    transform: scale(1.2);
}

.PendingAssigned {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: 1px black solid;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    width: fit-content;
    border-style: none;
    margin-bottom: 20px;
    margin-top: -700px;
    margin-left: 360px;
}

.PendingAssigned:hover {
    color: red;
    border: 1px black solid;
    background-color: rgba(0, 106, 255, 0.934);
}

/*  */

.ConfirmAssigned-container {
    display: inline;
    padding-top: 50px;
    margin-top: -88px;
    border-right: 1px solid lightgray;
}

.Confirmwarning {
    color: red;
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
    margin-left: 360px;
}

.Confirmcontainer {
    display: inline-flex;
    padding-top: 50px;
    margin-top: -88px;
    width: 200px;
    border-right: 1px solid lightgray;
}

.vertical-line {
    border: none;
    border-right: 1px solid lightgray;
    height: 100vh;
    margin-right: 20px;
}

.Confirm,
.All {
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.All {
    margin-left: 2px;
}

.ReactTable {
    width: 100%;
    max-width: 800px;
    margin-left: 350px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

.ReactTable thead {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f5f5f5;
}

.ReactTable th,
.ReactTable td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
    /* Inner borders for rows */
}

.ReactTable th {
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
    /* Thicker bottom border for headers */
}

.ReactTable th::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top: 5px solid #bbb;
}

.ReactTable th.sort-asc::after {
    border-top: none;
    border-bottom: 5px solid #bbb;
}

.ReactTable th.sort-desc::after {
    border-top: 5px solid #bbb;
}

.ReactTable tr:hover {
    background-color: #f1f1f1;
}

.CheckApp {
    margin: 5px 0 0 50px;
    transform: scale(1.2);
}

.ConfirmAssigned {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: 1px black solid;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: larger;
    width: fit-content;
    border-style: none;
    margin-top: -700px;
    margin-left: 360px;
    /* Ensures the button stays above other elements */
}

.ConfirmAssigned:hover {
    color: red;
    border: 1px black solid;
    background-color: rgba(0, 106, 255, 0.934);
}

/*  */

.DeliveryDate,
.DeliveryTime,
.FirstName,
.LastName,
.DateofReceiptOrders,
.TimeofReceiptOrders {
    width: 50px;
}


.AllStaff_table {
    margin-top: -100px;
    margin-left: 400px;
    width: 100%;
    max-width: 800px;
    margin-left: 350px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

.AllStaff_table thead {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f5f5f5;
}

.AllStaff_table th,
.AllStaff_table td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.AllStaff_table th {
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
}

.AllStaff_table th::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top: 5px solid #bbb;
}

.AllStaff_table th.sort-asc::after {
    border-top: none;
    border-bottom: 5px solid #bbb;
}

.AllStaff_table th.sort-desc::after {
    border-top: 5px solid #bbb;
}

.AllStaff_table tr:hover {
    background-color: #f1f1f1;
}

/*  */
.Delivering_table {
    margin-top: -100px;
    margin-left: 400px;
    width: 100%;
    max-width: 800px;
    margin-left: 350px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

.Delivering_table thead {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f5f5f5;
}

.Delivering_table th,
.Delivering_table td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.Delivering_table th {
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
}

.Delivering_table th::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top: 5px solid #bbb;
}

.Delivering_table th.sort-asc::after {
    border-top: none;
    border-bottom: 5px solid #bbb;
}

.Delivering_table th.sort-desc::after {
    border-top: 5px solid #bbb;
}

.Delivering_table tr:hover {
    background-color: #f1f1f1;
}


/*  */

.Delivered_table .DateofReceiptGoods,
.Delivered_table .TimeofReceiptGoods {
    width: 100px;
}

.Delivered_table {
    margin-top: 100px;
    margin-left: 400px;
    width: 100%;
    max-width: 800px;
    margin-left: 350px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border-collapse: collapse;
}

.Delivered_table thead {
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f5f5f5;
}

.Delivered_table th,
.Delivered_table td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
}

.Delivered_table th {
    position: relative;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
}

.Delivered_table th::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top: 5px solid #bbb;
}

.Delivered_table th.sort-asc::after {
    border-top: none;
    border-bottom: 5px solid #bbb;
}

.Delivered_table th.sort-desc::after {
    border-top: 5px solid #bbb;
}

.Delivered_table tr:hover {
    background-color: #f1f1f1;

}