.diamond-shell-infodetails-container {
    font-family: Arial, sans-serif;
    background-color: white;
    border: 1px hidden lightgray;
    padding: 20px;
    width: 600px;
    height: 300px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -700px;
    margin-left: auto;
    margin-right: 100px;
}

.diamond-shell-infodetails-container .text {
    font-weight: bold;
    font-size: larger;
}

.diamond-shell-infodetails-container .text span {
    margin-right: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.diamond-shell-infodetails-container .text p {
    margin: 0;
    display: flex;
    flex: 16;
    justify-content: center;
    align-items: center;
}



.diamond-shell-infodetails-container .MaterialDetails,
.diamond-shell-infodetails-container .GenderDetails,
.diamond-shell-infodetails-container .SecondaryStoneTypeDetails,
.diamond-shell-infodetails-container .QuantityDetails,
.diamond-shell-infodetails-container .PriceDetails,
.text {
    display: flex;
    align-items: center;
    font-size: medium;
    margin-bottom: 20px;
    margin-left: 20px;
}

.diamond-shell-infodetails-container .MaterialDetails span,
.diamond-shell-infodetails-container .GenderDetails span,
.diamond-shell-infodetails-container .SecondaryStoneTypeDetails span,
.diamond-shell-infodetails-container .QuantityDetails span,
.diamond-shell-infodetails-container .PriceDetails span {
    margin-right: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.diamond-shell-infodetails-container .MaterialDetails p,
.diamond-shell-infodetails-container .GenderDetails p,
.diamond-shell-infodetails-container .SecondaryStoneTypeDetails p,
.diamond-shell-infodetails-container .QuantityDetails p,
.diamond-shell-infodetails-container .PriceDetails p {
    margin: 0;
    font-size: 20px;
    font-stretch: expanded;
    display: flex;
    flex: 16;
    justify-content: center;
    align-items: center;
}

.ImageDiamondShellDetails {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: -365px;
    margin-bottom: 20px;
    margin-left: 200px;
    transition: all 0.3s ease;
}

.ImageDiamondShellDetails img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 100px;
    border-radius: 50px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.45);
    transition: all 0.2s ease;
    /* Add shadow effect */
}

.diamond-shell-infodetails-container .PriceDetails p {
    margin-left: 30px;
}

.diamondShellUpdate {
    display: block;
    background-color: black;
    width: 2.4em;
    border-radius: 4px;
}

.diamond-shell-infodetails-container .diamondShellUpdate:hover {
    color: red;
    background-color: rgba(0, 106, 255, 0.934)
}

.diamond-shell-infodetails-container .diamondShellUpdate {
    padding: 14px 50px;

    display: flex;

    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 1px black solid;
    justify-content: space-between;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: 160px;
    margin-top: 20px;

}