.preview-container {
    display: flex;
    width: 100%;
    margin: 50px 0px;
    height: 40vh;
    justify-content: center;

}

.preview-container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 140px;
}

.preview-container ul li {
    border: 1px solid black;
    border-radius: 5px;
}

.preview-container ul li img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.preview-desc {
    width: 100%
}

.preview-desc .name {
    padding: 5px 0px;
    font-size: 1.2em;
    font-family: var(--font-family);
}

.preview-desc .price {
    padding: 15px 0px;
    font-size: 1.2em;
    font-family: var(--font-family);
    color: red;

}