.admin-account-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 500px;
    margin-top: -800px;
    padding: 20px;
    max-width: 500px;
    text-align: center;
}

.admin-account-list-container h1 {
    color: red;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container select {
    margin-left: 10px;
}

.filter-container label {
    margin-left: 20px;
}

.admin-account-list {
    width: 100%;
    margin-right: 100px;
}


.admin-account-list .account-item {
    display: flex;
    flex-direction: row;
    /* Change flex direction to row */
    align-items: center;
    justify-content: center;
    /* Center align items vertically */
    width: 600px;
    height: 150px;
    padding: 10px;
    /* Adjust padding to make the item shorter */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.45);
}


.account-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}

.account-info {
    flex-grow: 1;
    text-align: left;
}

.account-info p {
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.view-detail-btn {
    display: block;
    width: 100px;
    color: white;
    border-radius: 15px;
    background-color: lightgray;
    text-decoration: none;
    padding: 14px 10px;
    margin-left: auto;
}

.view-detail-btn:hover {
    color: red;
    background-color: blue;
}