.delivery-order-list-content-container {
    width: 100%;
    padding: 70px 0px;
}

.delivery-order-list-content {
    padding-top: 40px;
    padding-left: 100px;
}

.delivery-order-list-content .list-order {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

/* Order detail preview */
.delivery-order-list-content .list-order .order-detail-preview {
    display: flex;
    margin: 30px 0px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    padding: 20px 0px;
}

.delivery-order-list-content .list-order .order-detail-preview {
    font-size: 2em;
    font-family: var(--font-family);
}

.delivery-order-list-content .list-order .order-detail-preview .order-info {
    width: 100%;
}

.delivery-order-list-content .list-order .order-detail-preview .order-info p {
    padding: 6px 0px;
}

/* Order List Preview Image */
.delivery-order-list-content .list-order .order-detail-preview img {
    object-fit: cover;
    text-align: left;
    width: 150px;
    height: 150px;
    padding: 0px 20px;
}

/* Status and View Detail Button */
.delivery-order-list-content-container .status-and-view {
    width: 30%;
}

.delivery-order-list-content-container .status-and-view p {
    font-family: var(--font-family);
    font-size: 1em;
    text-align: left;
}

.delivery-order-list-content-container .status-and-view button {
    font-family: var(--font-family);
    margin-top: 50px;
    font-size: 1em;
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
    color: var(--font-color);
}

/* Filter select */
.delivery-order-list-content-container .order-list-filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.delivery-order-list-content-container .order-list-filter span {
    font-family: var(--font-family);
    font-size: 1.2em;
}

.delivery-order-list-content-container .order-list-filter label {
    font-family: var(--font-family);
    font-size: 1.2em;
}

.delivery-order-list-content-container .order-list-filter select {
    font-family: var(--font-family);
    font-size: 1em;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

.delivery-order-list-content-container .order-list-filter select:focus {
    border-color: #000;
}

.delivery-order-list-content-container .order-list-filter select option {
    padding: 10px;
}
