* {
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: rgb(54, 54, 54);
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-color: #fff;
  --page-content-height: calc(100vh - 200px);
}