.diamond-product-info-container {
    display: flex;
    height: 900px;
    margin: 15px 0px;
    gap: 200px;

}

/* Product Image */
.diamond-product-info-container .product-image {
    padding-left: 300px;

}

.diamond-product-info-container .product-image img {
    width: 60vh;
    height: 70vh;
    object-fit: cover;
}

/* Product Details */

.diamond-product-detail {
    border: 1px solid black;
    width: 600px;
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diamond-product-detail .text {
    width: 100%;
    padding: 10px 0px;
    font-size: 1.2em;
    font-family: var(--font-family);
    display: grid;
    color: black;
    border-bottom: 1px solid black;
}

.diamond-product-detail .text p {
    padding: 5px 0px;
    font-size: 1.2em;
    font-family: var(--font-family);
    padding-left: 5px;
}

.diamond-product-detail .text .price {
    margin: 5px 0px;
    color: red;
    font-weight: bold;
}

.diamond-product-detail .parameter {
    display: grid;
    padding-top: 5px;
    width: 100%;
    height: 100%;


}

.diamond-product-detail .parameter div {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 5px;
    width: 100%;

}

.diamond-product-detail .parameter p {
    padding: 3px 10px;
    margin: 15px 10px;
    border-radius: 5px;
    width: 70%;
    font-family: var(--font-family);
    font-size: 1.2em;
    font-weight: bold;
}

.diamond-product-detail .parameter span {
    padding: 3px 10px;
    font-size: 1.2em;
    font-family: var(--font-family);

}

/* Button */

.button-payment {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.button-payment button {
    padding: 10px 30px;
    font-size: 1.3em;
    font-family: var(--font-family);
}

.button-payment .add-cart {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.button-payment .add-cart:hover {
    scale: 1.1;
}

.button-payment .buy-now {
    border: 0px;
    border-radius: 5px;
    background-color: black;
    color: var(--font-color);
    cursor: pointer;
    transition: scale 0.2s ease;
}

.button-payment .buy-now:hover {
    scale: 1.1;
}