.shell-product-info-container {
    display: flex;
    height: calc(100vh-50px);
    margin: 15px 0px;
    gap: 200px;

}

/* Product Image */
.shell-product-info-container .product-image {
    padding-left: 300px;

}

.shell-product-info-container .product-image img {
    width: 60vh;
    height: 70vh;
    object-fit: cover;
}

/* Product Details */

.shell-product-detail {
    border: 1px solid black;
    width: 600px;
    height: 25rem;
}

.shell-product-detail .text {
    width: 100%;
    padding: 15px 5px;
    font-size: 1.2em;
    font-family: var(--font-family);
    display: grid;
    color: red;
    border-bottom: 1px solid black;
}

.shell-product-detail.text p {
    padding: 5px 5px;
    font-size: 1.2em;
    font-family: var(--font-family);
}

.shell-product-detail .text .price {
    color: red;
    font-weight: bold;
}

.shell-product-detail .parameter {
    display: grid;
    width: 100%;
    border-bottom: 1px solid black;

}

.shell-product-detail .parameter div {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border-radius: 5px;
    width: 100%;

}

.shell-product-detail .parameter select {
    padding: 3px 10px;
    margin: 15px 10px;
    border-radius: 5px;
    width: 70%;
}

.shell-product-detail .parameter label {
    padding: 1px 10px;
    font-size: 1.1em;
    font-family: var(--font-family);

}

/* Form Group */

.form-group{
    border-top: 1px solid black;
    padding: 12px 50px;
    width: 500px;
    text-align: center;
}

.form-group select{
    font-size: 1em;
    font-family: var(--font-family);
    width: 200px;
}

.form-group label{
    font-size: 1.2em;
    font-family: var(--font-family);
    padding: 0px 20px;
}

/* Button */

.button-payment {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.button-payment button {
    padding: 10px 30px;
    font-size: 1.3em;
    font-family: var(--font-family);
}

.button-payment .add-cart {
    background-color: white;
    cursor: pointer;
}

.button-payment .buy-now {
    border: 0px;
    background-color: black;
    color: var(--font-color);
    cursor: pointer;
}

