.promotion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.promotion-container .create-promotion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}



.promotion-container .create-promotion .createPromotion {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin-top: -40px;
    margin-right: 15px;
}

.promotion-container .create-promotion img {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.promotion-container .create-promotion h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-stretch: expanded;
}






/*  */
.promotion-info-container {

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.promotion-info-container .promotion-card {
    display: block;
    width: 600px;
    height: 150px;
    border: 2px solid lightgray;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-stretch: expanded;
}

.promotion-info-container .promotion-card .PromotionID {
    font-size: 20px;
    display: flex;
    font-size: larger;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    color: red;
    margin-bottom: 7px;
    font-stretch: expanded;

}

.promotion-info-container .promotion-card .promotionName {
    font-size: 20px;
    display: flex;
    font-size: larger;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    color: rgba(60, 6, 197, 0.903);
    margin-left: 0px;
    margin-bottom: 7px;
    font-stretch: expanded;

}

.promotion-info-container .promotion-card .Startdate,
.Enddate,
.Type {
    display: flex;
    font-size: large;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 7px;
    font-stretch: expanded;
}

.promotion-info-container .PromotionID p,
.promotion-info-container .promotionName p,
.promotion-info-container .Startdate p,
.promotion-info-container .Enddate p,
.promotion-info-container .Type p {
    margin-left: 7px;
}

/* ViewDetail Button */
.promotion-card .PromotionInfo {
    padding: 14px 40px;

    display: flex;

    text-decoration: none;
    font-weight: bold;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    margin-top: -80px;

}

.PromotionInfo,
.Delete {
    display: block;
    font-stretch: expanded;
    font-family: var(--font-family);
    background-color: rgba(128, 128, 128, 0.811);
    width: 2.4em;
    border-radius: 20px;
}

.promotion-card .PromotionInfo:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

.promotion-card .Delete:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

.promotion-card .Delete {
    padding: 20px 50px;
    padding-bottom: 23.5px;
    display: flex;
    font-stretch: expanded;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-style: none;
    justify-content: center;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: 150px;
    margin-top: -64px;
}



.STARTDATE input {
    width: calc(95%);
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    border-radius: 5px;
    /* adjust padding as needed */
    font-size: 1.2em;
    /* increase input font size */
}

.STARTDATE input:focus {
    border: 1 solid white;
}


.ENDDATE input {
    width: calc(95%);
    padding-top: 16px;
    border-radius: 5px;
    padding-bottom: 16px;
    display: block;
    border: 1 solid #ccc;
    /* adjust padding as needed */
    font-size: 1.2em;
    /* increase input font size */
}

.ENDDATE input:focus {
    border: 1 solid white;

}



.PromotionAdd:hover {

    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    /* Điều chỉnh khoảng cách giữa thẻ hình dạng kim cương và tên màu */
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    /* Màu chữ của tên màu */
    font-weight: bold;
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}