.promotion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.promotion-container .create-promotion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}



.promotion-container .create-promotion .createPromotion {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin-top: -42px;
    margin-right: 15px;
}

.promotion-container .create-promotion img {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.promotion-container .create-promotion h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-stretch: expanded;
}

.promotion-container .filter-promotion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 50px;
    margin-top: 20px;

}

.filter-promotion {
    display: flex;
    align-items: center;
}

.filter-promotion p {
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
    font-stretch: expanded;

}

.filter-promotion ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-promotion li {
    margin: 5px 0;
}

.filter-promotion .url .Diamond_Promotion,
.DiamondShell_Promotion {
    margin-left: 50px;
    flex: 7;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;

    transition: all .4s ease;


}

.filter-promotion .sub-filter-promotion {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-top: -51px;
}

.filter-promotion .url {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.url .Diamond_Promotion:hover {
    color: blue;
}

.url .DiamondShell_Promotion:hover {
    color: blue;
}






/*  */
.promotion-info-container {

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.promotion-info-container .promotion-card {
    display: block;
    width: 800px;
    height: 150px;
    border: 2px solid lightgray;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 5px;
    font-stretch: expanded;
}

.promotion-info-container .promotion-card .PromotionID {
    font-size: 20px;
    display: flex;
    font-size: larger;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    color: red;
    margin-bottom: 7px;
    font-stretch: expanded;

}

.promotion-info-container .promotion-card .ProductionName {
    font-size: 20px;
    display: flex;
    font-size: larger;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    font-weight: bold;
    color: rgba(60, 6, 197, 0.903);
    margin-left: -3px;
    margin-bottom: 7px;
    font-stretch: expanded;

}

.promotion-info-container .promotion-card .Startdate,
.Enddate,
.Type {
    display: flex;
    font-size: large;
    font-family: var(--font-styledata);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 7px;
    font-stretch: expanded;
}

.promotion-info-container .Startdate p,
.promotion-info-container .Enddate p,
.promotion-info-container .Type p {
    margin-left: 7px;
}

/* ViewDetail Button */
.promotion-card .PromotionInfo {
    padding: 10px 50px;

    display: flex;

    text-decoration: none;
    font-weight: bold;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: 0;
    margin-top: -80px;

}

.PromotionInfo,
.Delete {
    display: block;
    background-color: rgba(128, 128, 128, 0.811);
    width: 2.4em;
    border-radius: 20px;
}

.promotion-card .PromotionInfo:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

.promotion-card .Delete:hover {
    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

.promotion-card .Delete {
    padding: 20px 50px;
    padding-bottom: 23.5px;
    display: flex;
    font-stretch: expanded;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-style: none;
    justify-content: center;
    align-items: center;
    /* Căn giữa theo chiều dọc */
    flex-direction: column;
    text-align: center;
    font-size: large;
    margin-left: auto;
    margin-right: 200px;
    margin-top: -64px;
}


.create-Promotion .sub-create-Promotion .DESCRIPTION,
.DISCOUNTPERCENT,
.STARTDATE,
.ENDDATE,
.MEMBERLEVEL,
.TYPE,
.PRODUCTIONNAME {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    margin-left: 500px;
    justify-content: center;
    /* Adjusted to align to the left */
}

.create-DiamondShell .sub-create-Promotion {
    display: block;
    margin-right: 400px;
}


.sub-create-Promotion .DESCRIPTION label,
.sub-create-Promotion .DISCOUNTPERCENT label,
.sub-create-Promotion .STARTDATE label,
.sub-create-Promotion .ENDDATE label,
.sub-create-Promotion .MEMBERLEVEL label,
.sub-create-Promotion .TYPE label,
.sub-create-Promotion .PRODUCTIONNAME label {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to align to the left */
    margin-right: 30px;
    flex: 2;
    margin-left: 0;
}



.DESCRIPTION input,
.DISCOUNTPERCENT input,
.MEMBERLEVEL select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to align to the left */
    text-align: center;
    flex: 2;
    margin-left: 10px;
    margin-right: 100px;
    padding: 2px;
}

.TYPE_Select .custom-TYPE_Select {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to align to the left */
    text-align: center;
    flex: 2;
    margin-right: 148px;
    margin-bottom: 10px;
    padding: 0px 50px;
}



.TYPE_PRODUCTIONNAME .custom-TYPE_PRODUCTIONNAME {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Adjusted to align to the left */
    text-align: center;
    flex: 2;
    margin-bottom: 10px;
    margin-right: 126px;
    padding: 0px 40px;
}



.STARTDATE input,
.ENDDATE input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Adjusted to align to the left */
    flex: 2;
    margin-left: 10px;
    margin-right: 100px;
    padding: 2px;
}


.create-Promotion button {
    margin-top: 10px;
    display: block;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(35, 35, 236, 0.8);
    color: white;
    font-weight: 500;
    border-style: none;
    width: 60px;
    margin-left: 700px;
}

.create-Promotion button:hover {

    color: rgba(255, 0, 0, 0.826);
    background-color: rgba(0, 106, 255, 0.934)
}

input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    /* Điều chỉnh khoảng cách giữa thẻ hình dạng kim cương và tên màu */
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    /* Màu chữ của tên màu */
    font-weight: bold;
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    margin-left: 10px;
    /* Điều chỉnh khoảng cách giữa thẻ hình dạng kim cương và tên màu */
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Màu chữ của tên màu */
    font-weight: bold;
    font-size: medium;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}